<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.zangzac.yoonahrim.model.dao.secondHandDAO">
	<insert id="insertSeconHand">
		insert secondHandProduct
		value (SP_SEQ.nextval, SPTITLE, SPPRICE, SPCONTENT, SPADDRESS, default, default, MEMBERID, CATEGORYNO, default) 
	</insert>

	<update id="updateSeconHand">
		update secondHandProduct
		set SP_SEQ.nextval, SPTITLE, SPPRICE, SPCONTENT, SPADDRESS, default, default, MEMBERID, CATEGORYNO, default
	</update>
</mapper>