<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.table td{cursor:pointer;}
	.table td>div{border: 1px solid black; height: 80%; width: 45%; display: inline-block; padding-top: 3%; cursor: pointer;}
	.selectState{background: lightgray; font-size: 15px}
	.unselectState{background: none;}
</style>
<link href="css/yoonahrim/adminSecondHand.css?after" rel="stylesheet" type="text/css"/>
</head>
<body>
   <div th:replace="~{common/admin :: admin}"></div>
   
   <div id="orderListWrapped">
      <h1>중고물품 관리</h1>
      
      <div style="float:right;">
         <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    물품번호 검색
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#" onclick="showSearch('search1', '물품번호 검색')">물품번호 검색</a></li>
                    <li><a class="dropdown-item" href="#" onclick="showSearch('search2', '물품명 검색')">물품명 검색</a></li>
                    <li><a class="dropdown-item" href="#" onclick="showSearch('search3', '작성자 검색')">작성자 검색</a></li>
                </ul>
            </div>
         
         <div class="search" id="search1">
            <input type="text" placeholder="물품번호 입력">
              <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
         </div>
         <div class="search" id="search2" style="display: none;">
            <input type="text" placeholder="물품명 입력">
              <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
         </div>
         <div class="search" id="search3" style="display: none;">
            <input type="text" placeholder="작성자 입력">
              <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
         </div>
      </div>
      
      <table id="allOrder" class="allOrder">
         <tr>
            <th class="td1"><input type="checkbox" id="allSelect" onclick="toggleAllCheckboxes('allOrder', 'allSelect')"></th>
            <th class="td2">물품번호</th>
            <th class="td3">아이디</th>
            <th class="td4">물품명</th>
            <th class="td5">물품가격</th>
            <th class="td6">주소</th>
            <th class="td7">카테고리</th>
            <th class="td8">예약여부</th>
            <th class="td9">판매여부</th>
            <th class="td10">삭제여부</th>
         </tr>
         
         <tr th:each="s : ${sList}">
		    <td class="td1"><input type="checkbox"></td>
		    <td class="td2" th:text="${s.spNo}"></td>
		    <td class="td3" th:text="${s.memberId}"></td>
		    <td class="td4" th:text="${s.spTitle}"></td>
		    <td class="td5" th:text="${#numbers.formatInteger(s.spPrice, 0, 'COMMA') + '원'}"></td>
		    <td class="td6" th:text="${s.spAddress}"></td>
		    <td class="td7" th:text="${s.categoryName}"><</td>
		    <td class="td8">
		        <div th:class="${s.spIsSell == 'Y' ? 'selectState' : 'unselectState'}">Y</div>
		        <div th:class="${s.spIsSell == 'N' ? 'selectState' : 'unselectState'}">N</div>
		    </td>
		    <td class="td9">
		        <div th:class="${s.spIsBook == 'Y' ? 'selectState' : 'unselectState'}">Y</div>
		        <div th:class="${s.spIsBook == 'N' ? 'selectState' : 'unselectState'}">N</div>
		    </td>
		    <td class="td10">
		        <div th:class="${s.spStatus == 'Y' ? 'selectState' : 'unselectState'}">Y</div>
		        <div th:class="${s.spStatus == 'N' ? 'selectState' : 'unselectState'}">N</div>
		    </td>
		</tr>
         
      </table>
      
      <nav class="Page" aria-label="Page navigation example" th:with="loc=${loc}">
          <ul class="pagination">
             <li class="page-item">
               <a class="page-link" th:href="@{${loc}(page=${pi.currentPage-1})}" aria-label="Previous" th:if="${pi.currentPage>1}">
                 <span aria-hidden="true">&laquo;</span>
               </a>
             </li>
             <li class="page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
             	<a class="page-link" th:href="@{${loc}(page=${p})}">[[${ p }]]</a></li>
             <li class="page-item">
             	<a class="page-link" th:href="@{${loc}(page=${pi.currentPage+1})}" aria-label="Next" th:if="${pi.currentPage<pi.maxPage}">
                 <span aria-hidden="true">&raquo;</span>
             </a>
             </li>
          </ul>
      </nav>
   </div>

	<div class="modal fade" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalCenteredScrollableTitle"></h1>
					<div class="modal-body" style="text-align: right; font-size: 14px;"></div>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">게시글 올리기</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>



   <script>
      //체크박스 전체 선택/해제
        function toggleAllCheckboxes(tableId, selectId) {
         const checkboxes = document.querySelectorAll(`#${tableId} input[type="checkbox"]:not(#${selectId})`);
         const selectAll = document.getElementById(selectId);
         const allChecked = selectAll.checked;
   
         checkboxes.forEach(checkbox => {
             checkbox.checked = allChecked;
         });
     	}
      
      //드롭다운 변경
      function showSearch(searchId, dropdownText) {
            document.querySelectorAll('.search').forEach(function(searchElement) {
                searchElement.style.display = 'none';
            });
            document.getElementById(searchId).style.display = 'block';
            document.getElementById('dropdownMenuButton').innerText = dropdownText;
        }
      
      //모달창
      window.onload = () => {
				const contents = document.querySelectorAll('.allOrder');
				const statusBtn = document.querySelector('.modal-footer').querySelector('button');
				
				let thisContent = null;
				for(const content of contents){
					content.addEventListener('click', function(){
						thisContent = this;
						const boardNo = content.querySelector('.td3').value;
						const boardTitle = content.querySelector('td4').innerText;
						const boardContent = content.querySelector('td4').nextElementSibling.innerText;
						const boardWriter = content.querySelector('.td3').innerText;
						const boardStatus = content.nextElementSibling.innerText;
						/*<![CDATA[*/
						const aList = /*[[${aList}]]*/null;
						/*]]>*/
						
						document.getElementById('exampleModalCenteredScrollableTitle').innerText = spTitle;
						const modalBody = document.querySelectorAll('.modal-body');
						modalBody[0].innerText = '작성자 : ' + memberId;
						modalBody[1].innerHTML = spContent + "<br><br>";
						
						for(const a of aList){
							if(boardNo == a.memberId){
								if(a.renameName.toLowerCase().includes('jpg') || a.renameName.toLowerCase().includes('png')){
									modalBody[1].innerHTML += '<img src="' + a.renameName + '"width="100%" height="200"><br><br>';
								}else{
									modalBody[1].innerHTML += '<div style="text-align: center; color: white; background: lightgrey; width: 100%; height: 200px; line-height: 200px;"> no image(' + attm.originalName + ")</div><br>";
								}
							}
						}
						
						if(boardStatus == '게시 중'){
							statusBtn.innerText = '게시 중';
							statusBtn.className = 'btn btn-primary';
						}else{
							statusBtn.innerText = '게시 중단';
							statusBtn.className = 'btn btn-dark';
						}
					});
				}
			}
			
			statusBtn.addEventListener('click', function(){
				$.ajax({
					url: 'updateBoardStatus.adm',
					data: {bId:thisContent.querySelector('input').value, value: this.innerText == '게시 중' ? 'N' : 'Y', type:4},
					success: data => {
						console.log(data);
						if(data == 'success'){
							const btn = thisContent.nextElementSibling;
							if(this.innerText == '게시 중'){
								btn.className = 'btn btn-dark changeState';
								btn.innerText = '게시 중단';
							}else{
								btn.className = 'btn btn-primary changeState';
								btn.innerText = '게시 중';
							}
						}
					},
					error: data => console.log(data)
				});
			});
			
			const stateButton = document.querySelectorAll('.changeState');
			for(const button of stateButton){
				button.addEventListener('click', function(){
					$.ajax({
						url: 'updateBoardStatus.adm',
						data: {bId:this.previousElementSibling.querySelector('input').value, value:this.innerText == '게시 중' ? 'N' : 'Y', type:4},
						success: data => {
							if(data == 'success'){
								if(this.innerText == '게시 중'){
									this.className = 'btn btn-dark changeState';
									this.innerText = '게시 중단';
								}else{
									this.className = 'btn btn-primary changeState';
									this.innerText = '게시 중';
								}
							}else{
								alert('상태 변경 실패했슴둥');
								location.reload();
							}
						}
					})
					
				});
			}
		
      
    </script>
   
</body>
</html>