<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.table td{cursor:pointer;}
	.table td>div{border: 1px solid black; height: 80%; width: 45%; display: inline-block; padding-top: 3%; cursor: pointer;}
	.selectState{background: lightgray; font-size: 15px}
	.unselectState{background: none;}
</style>
<link href="css/yoonahrim/adminSecondHand.css?after" rel="stylesheet" type="text/css"/>
</head>
<body>
   <div th:replace="~{common/admin :: admin}"></div>
   
   <div id="orderListWrapped">
      <h1>중고물품 관리</h1>
      
      <div style="float:right;">
         <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    물품번호 검색
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#" onclick="showSearch('search1', '물품번호 검색')">물품번호 검색</a></li>
                    <li><a class="dropdown-item" href="#" onclick="showSearch('search2', '물품명 검색')">물품명 검색</a></li>
                    <li><a class="dropdown-item" href="#" onclick="showSearch('search3', '작성자 검색')">작성자 검색</a></li>
                </ul>
            </div>
         
         <div class="search" id="search1">
            <input type="text" placeholder="물품번호 입력">
              <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
         </div>
         <div class="search" id="search2" style="display: none;">
            <input type="text" placeholder="물품명 입력">
              <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
         </div>
         <div class="search" id="search3" style="display: none;">
            <input type="text" placeholder="작성자 입력">
              <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
         </div>
      </div>
      
      <table id="allOrder" class="allOrder">
         <tr>
            <th class="td1"><input type="checkbox" id="allSelect" onclick="toggleAllCheckboxes('allOrder', 'allSelect')"></th>
            <th class="td2">물품번호</th>
            <th class="td3">아이디</th>
            <th class="td4">물품명</th>
            <th class="td5">물품가격</th>
            <th class="td7">카테고리</th>
            <th class="td8">예약여부</th>
            <th class="td9">판매여부</th>
            <th class="td10">삭제여부</th>
         </tr>
         
         <tr th:each="s : ${sList}">
		    <td class="td1"><input type="checkbox"></td>
		    <td class="td2" th:text="${s.spNo}"></td>
		    <td class="td3" th:text="${s.memberId}"></td>
		    <td class="td4" th:text="${s.spTitle}"></td>
		    <td class="td5" th:text="${#numbers.formatInteger(s.spPrice, 0, 'COMMA') + '원'}"></td>
		    <td class="td6" th:text="${s.categoryName}"><</td>
		    <td class="td7">
		        <div th:class="${s.spIsSell == 'Y' ? 'selectState' : 'unselectState'}">Y</div>
		        <div th:class="${s.spIsSell == 'N' ? 'selectState' : 'unselectState'}">N</div>
		    </td>
		    <td class="td8">
		        <div th:class="${s.spIsBook == 'Y' ? 'selectState' : 'unselectState'}">Y</div>
		        <div th:class="${s.spIsBook == 'N' ? 'selectState' : 'unselectState'}">N</div>
		    </td>
		    <td class="td9">
		        <div th:class="${s.spStatus == 'Y' ? 'selectState' : 'unselectState'}">Y</div>
		        <div th:class="${s.spStatus == 'N' ? 'selectState' : 'unselectState'}">N</div>
		    </td>
		</tr>
         
      </table>
      
      <nav class="Page" aria-label="Page navigation example" th:with="loc=${loc}">
          <ul class="pagination">
             <li class="page-item">
               <a class="page-link" th:href="@{${loc}(page=${pi.currentPage-1})}" aria-label="Previous" th:if="${pi.currentPage>1}">
                 <span aria-hidden="true">&laquo;</span>
               </a>
             </li>
             <li class="page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
             	<a class="page-link" th:href="@{${loc}(page=${p})}">[[${ p }]]</a></li>
             <li class="page-item">
             	<a class="page-link" th:href="@{${loc}(page=${pi.currentPage+1})}" aria-label="Next" th:if="${pi.currentPage<pi.maxPage}">
                 <span aria-hidden="true">&raquo;</span>
             </a>
             </li>
          </ul>
      </nav>
   </div>

	<div class="modal">
		<div class="modal_body">
			<p class="modal_title">회원정보</p>
			<p id="memberId">ID:</p>
			<p id="memberName">NAME</p>
			<p id="memberNickName">NICKNAME</p>
			<p id="memberEmail">EMAIL</p>
			<p id="memberBirth">생일</p>
			<p id="memberPhone">PHONE</p>
			<p id="memberAddress">ADDRESS</p>
			<p id="memberEnrollDate">가입일</p>
		 </div>
	</div>


   <script>
      //체크박스 전체 선택/해제
        function toggleAllCheckboxes(tableId, selectId) {
         const checkboxes = document.querySelectorAll(`#${tableId} input[type="checkbox"]:not(#${selectId})`);
         const selectAll = document.getElementById(selectId);
         const allChecked = selectAll.checked;
   
         checkboxes.forEach(checkbox => {
             checkbox.checked = allChecked;
         });
     	}
      
      //드롭다운 변경
      function showSearch(searchId, dropdownText) {
            document.querySelectorAll('.search').forEach(function(searchElement) {
                searchElement.style.display = 'none';
            });
            document.getElementById(searchId).style.display = 'block';
            document.getElementById('dropdownMenuButton').innerText = dropdownText;
        }
      
    //모달창 열기
      const body = document.querySelector('body');
      const modal = document.querySelector('.modal');
      const tds = document.getElementsByTagName('td');
	  let changeId;
      for(let i = 0; i <tds.length; i++ ){
    	  const index = i % 8;
    	  if(index != 0 && index != 6 && index != 7){
		      tds[i].addEventListener('dblclick', function(){
		    	  //console.log(this.parentNode.children[1].innerText); 아이디로 접근!
		    	  //ajax 해서 
		    	  
		    	  //memberId 보내서 정보가져오기
		    	  	//모달에 아이디들로 다 가져와서 member 정보 넣기
		    	  	let m = this.parentNode.children[1].innerText;
		    	  	changeId = this.parentNode;
		    	  	console.log(m);
		    		$.ajax({
		    			url:'selectMemberList.me',
		    			data : {memberId:m},
		    			success : function(data){
		    				const memberData = data.m;
		    				
		    				const memberId = memberData.memberId;
		    				const memberName = memberData.memberName;
		    				const memberNickName = memberData.memberNickName;
		    				const memberEmail = memberData.memberEmail;
		    				const memberBirth = memberData.memberBirth;
		    				const memberPhone = memberData.memberPhone;
		    				const memberAddress = memberData.memberAddress;
		    				const formattedAddress = memberAddress.replace(/@/g, ' ');
		    				const memberEnrollDate = memberData.memberEnrollDate;
		    				const memberProfilePath = memberData.memberProfilePath;
		    				
		    				document.getElementById('memberId').innerText = '아이디 : ' + memberId;
		    				document.getElementById('memberName').innerText = '이름 : ' + memberName;
		    				document.getElementById('memberNickName').innerText = '닉네임 : ' + memberNickName;
		    				document.getElementById('memberEmail').innerText = '이메일 : ' + memberEmail;
		    				document.getElementById('memberBirth').innerText = '생년월일 : ' + memberBirth;
		    				document.getElementById('memberPhone').innerText = '전화번호 : ' + memberPhone;
		    				document.getElementById('memberAddress').innerText = '주소 : ' + formattedAddress;
		    				document.getElementById('memberEnrollDate').innerText = '가입일 : ' + memberEnrollDate;
		    				document.getElementById('memberProfilePath').src = memberProfilePath;
		    				
		    			},
		    			error:data => console.log("error:" + data)
		    			
		    		})
		    		  
		          	modal.classList.toggle('show');
		    	  
		    	  
		
		        if (modal.classList.contains('show')) {
		          body.style.overflow = 'hidden';
		        }
		        
		      })
		      
		      
		      
    	  };
    	  
    	  if (index == 6 || index == 7) {
    		  const stateButtons = tds[i].querySelectorAll('div');
    		  let column;
		    	if(index == 6){
		    		column ='member_status';
		    	}else if(index == 7){
		    		column = 'member_is_admin';
		    	}
    		  for(const button of stateButtons){
    			  button.addEventListener('click', function() {
    				  /* console.log("column: "+column);
    				  console.log("id: "+ this.parentElement.parentElement.children[1].innerText);
    				  console.log("data: "+this.innerText); */
    				  if(this.className == 'unselectState'){
    					  $.ajax({
    						  url:'updateInfo.me',
    						  data:{column:column, data:this.innerText, id:this.parentElement.parentElement.children[1].innerText},
    						  success:data=>{
    							  console.log(data);
    							  if(data == 'success'){
    								  this.className = 'selectState';
    								  for(const siblings of this.parentElement.children){
    									  if(siblings != this){
    										  siblings.className = 'unselectState';
    									  }
    								  }
    							  }else{
    								  alert('상태 변경에 실패하여 페이지가 새로고침 됩니다.');
										location.reload();
    							  }
    						  },
    						  error: data => console.log(data)
    					  });
    				  }
    		      });
    		  	}
    		}
      };
      
       // 모달창 외부를 클릭했을때 창 닫기
      modal.addEventListener('click', (event) => {
        if (event.target === modal) {
          modal.classList.toggle('show');

          if (!modal.classList.contains('show')) {
            body.style.overflow = 'auto';
            isEditing =false;
          }
        }
     })

      
    </script>
   
</body>
</html>