<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link href="css/yoonahrim/chatingRoom.css?after" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div th:replace="~{common/navbar :: navbar}"></div>
	
	<div class="container">
	  <div class="row justify-content-start">
	    <div class="col-5">
	    <div class="chatList">
	     <input type="text" class="search" placeholder="아이디 검색하기" style="text-align:center;">
	     <div class="scrollBar">
	      	<div class="chat-content">
	      		<div class="chat-content-image">
	      			<img alt="profile" src="image/yoonahrim/채팅방_귀막는 애기.jpg">
	      			<div class="p-line" style="display:inline-block;">
	      				<p id="chatId">ming</p>
	      				<p id="lastMassage" style="font-size: 12px;">혹시 팔렸을까요?</p>
	      			</div>
	      		</div>
	      	</div><br>
	      	<div class="chat-content">
	      		<div class="chat-content-image">
	      			<img alt="profile" src="image/yoonahrim/채팅방_단비.jpg">
	      			<div class="p-line" style="display:inline-block;">
		      			<p id="chatId">so_hwa</p>
		      			<p id="lastMassage" style="font-size: 12px;">혹시 팔렸을까요?</p>
	      			</div>
	      		</div>
	      	</div><br>
	      	<div class="chat-content">
	      		<div class="chat-content-image">
	      			<img alt="profile" src="image/yoonahrim/user.png">
	      			<div class="p-line" style="display:inline-block;">
		      			<p id="chatId">i_want_go_home</p>
		      			<p id="lastMassage" style="font-size: 12px;">혹시 팔렸을까요?</p>
	      			</div>
	      		</div>
	      	</div><br>
	      	<div class="chat-content">
	      		<div class="chat-content-image">
	      			<img alt="profile" src="image/yoonahrim/채팅방_루피.jpg">
	      			<div class="p-line" style="display:inline-block;">
	      				<p id="chatId">jjang</p>
	      				<p id="lastMassage" style="font-size: 12px;">혹시 팔렸을까요?</p>
	      			</div>
	      		</div>
	      	</div><br>
	      	<div class="chat-content">
	      		<div class="chat-content-image">
	      			<img alt="profile" src="image/yoonahrim/채팅방_루피.jpg">
	      			<div class="p-line" style="display:inline-block;">
	      				<p id="chatId">jjang</p>
	      				<p id="lastMassage" style="font-size: 12px;">혹시 팔렸을까요?</p>
	      			</div>
	      		</div>
	      	</div><br>
	      	<div class="chat-content">
	      		<div class="chat-content-image">
	      			<img alt="profile" src="image/yoonahrim/채팅방_루피.jpg">
	      			<div class="p-line" style="display:inline-block;">
	      				<p id="chatId">jjang</p>
	      				<p id="lastMassage" style="font-size: 12px;">혹시 팔렸을까요?</p>
	      			</div>
	      		</div>
	      	</div><br>
	      	<div class="chat-content">
	      		<div class="chat-content-image">
	      			<img alt="profile" src="image/yoonahrim/채팅방_루피.jpg">
	      			<div class="p-line" style="display:inline-block;">
	      				<p id="chatId">jjang</p>
	      				<p id="lastMassage" style="font-size: 12px;">혹시 팔렸을까요?</p>
	      			</div>
	      		</div>
	      	</div><br>
	      	<div class="chat-content">
	      		<div class="chat-content-image">
	      			<img alt="profile" src="image/yoonahrim/채팅방_루피.jpg">
	      			<div class="p-line" style="display:inline-block;">
	      				<p id="chatId">jjang</p>
	      				<p id="lastMassage" style="font-size: 12px;">혹시 팔렸을까요?</p>
	      			</div>
	      		</div>
	      	</div><br>
	      	<div class="chat-content">
	      		<div class="chat-content-image">
	      			<img alt="profile" src="image/yoonahrim/채팅방_루피.jpg">
	      			<div class="p-line" style="display:inline-block;">
	      				<p id="chatId">jjang</p>
	      				<p id="lastMassage" style="font-size: 12px;">혹시 팔렸을까요?</p>
	      			</div>
	      		</div>
	      	</div><br>
	      </div>
	    </div>
	    </div>
	    <div class="col-5">
	      <div class="chating">
	      	<div class="chating-content">
	      		<div class="chating-content-image">
	      				<img alt="profile" src="image/yoonahrim/user.png">
	      				<p id="chatId">i_want_go_home</p>
	      		</div>
	      	</div>
	      	<hr style="margin: 0px;">
	      	<div class="chat-gpt">
		      	<!-- 채팅 보내는 사람(타로그인 대상자) -->
		      	<div class="send-chat">
		      		<p>안녕하세요, 판매자님!
		      		해당 물품 팔렸을까요??<p>
		      	</div>
		      	
		      	<!-- 채팅 받는 사람(로그인 대상자) -->
		      	<div class="recieve-chat">
		      		<p>안녕하세요^^<p>
		      	</div>
		      	<!-- 채팅 보내는 사람(타로그인 대상자) -->
		      	<div class="send-chat">
		      		<p>안녕하세요, 판매자님!
		      		해당 물품 팔렸을까요??<p>
		      	</div>
		      	
		      	<!-- 채팅 받는 사람(로그인 대상자) -->
		      	<div class="recieve-chat">
		      		<p>안녕하세요^^<p>
		      	</div>
		      	<!-- 채팅 보내는 사람(타로그인 대상자) -->
		      	<div class="send-chat">
		      		<p>안녕하세요, 판매자님!
		      		해당 물품 팔렸을까요??<p>
		      	</div>
		      	
		      	<!-- 채팅 받는 사람(로그인 대상자) -->
		      	<div class="recieve-chat">
		      		<p>안녕하세요^^<p>
		      	</div>
		      	<!-- 채팅 보내는 사람(타로그인 대상자) -->
		      	<div class="send-chat">
		      		<p>안녕하세요, 판매자님!
		      		해당 물품 팔렸을까요??<p>
		      	</div>
		      	
		      	<!-- 채팅 받는 사람(로그인 대상자) -->
		      	<div class="recieve-chat">
		      		<p>안녕하세요^^<p>
		      	</div>
		      	<!-- 채팅 보내는 사람(타로그인 대상자) -->
		      	<div class="send-chat">
		      		<p>안녕하세요, 판매자님!
		      		해당 물품 팔렸을까요??<p>
		      	</div>
		      	
		      	<!-- 채팅 받는 사람(로그인 대상자) -->
		      	<div class="recieve-chat">
		      		<p>안녕하세요^^<p>
		      	</div>
		      	<!-- 채팅 보내는 사람(타로그인 대상자) -->
		      	<div class="send-chat">
		      		<p>안녕하세요, 판매자님!
		      		해당 물품 팔렸을까요??<p>
		      	</div>
		      	
		      	<!-- 채팅 받는 사람(로그인 대상자) -->
		      	<div class="recieve-chat">
		      		<p>안녕하세요^^<p>
		      	</div>
	      	</div>
	      	<!-- 채팅 작성하는 칸 -->
	      	<div>
	      	
	      	<input type="text" class="form-control" style="width:400px">
	      		<button class="btn_reply btn-outline-secondary" type="button" id="button-addon2">
			  		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor-fill" viewBox="0 0 16 16">
							 <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
					</svg>
		  		</button>
	      	</div>
	      	
	      	</div>
	      </div>
	    </div>
	  </div>
</div>
</body>
</html>