<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  <link href="css/ming/admin/memberList.css" rel="stylesheet">
  <style>
  .modal {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: none;

        background-color: rgba(0, 0, 0, 0.4);
      }

      .modal.show {
        display: block;
      }

      .modal_body {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 700px;
        padding: 40px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
        transform: translateX(-50%) translateY(-50%);
      }
      .modal_title{
      	text-align: center;
      	font-size: 2em;
      	font-weight: bold;
      	padding-bottom: 5px;
      }
      .modal_body p{
      	padding: 7px;
      }
  </style>
</head>
<body>
	<div th:replace="~{common/adminNav :: adminNav}"></div>
	
	<div style="height:100px; width:100%;"></div>
	<div id="orderListWrapped">
      <h1>회원 관리</h1>
      
      <button class="cateBtn active">회원 목록</button>      
      <div style="float:right;">
         <div class="nav-item dropdown">
		    <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">회원 검색</button>
		    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		        <li><a class="dropdown-item" href="#" onclick="showSearch('search1', 'ID 검색')">ID 검색</a></li>
		        <li><a class="dropdown-item" href="#" onclick="showSearch('search2', '이름 검색')">이름 검색</a></li>
		        <li><a class="dropdown-item" href="#" onclick="showSearch('search3', '연락처 검색')">연락처 검색</a></li>
		    </ul>
          </div>
         
         <div class="search" id="search1">
            <input type="text" placeholder="ID 입력">
              <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
         </div>
         <div class="search" id="search2" style="display: none;">
            <input type="text" placeholder="이름 입력">
              <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
         </div>
         <div class="search" id="search3" style="display: none;">
            <input type="text" placeholder="연락처 입력">
              <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
         </div>
         
      </div>
      
      
      <table id="allOrder">
         <tr>
            <th class="td1"><input type="checkbox" id="allSelect" onclick="toggleAllCheckboxes('allOrder', 'allSelect')"></th>
            <th class="td2">아이디</th>
            <th class="td3">이름</th>
            <th class="td4">닉네임</th>
            <th class="td5">주소</th>
            <th class="td6">전화번호</th>
            <th class="td7">탈퇴여부</th>
         </tr>
         
         <tr>
            <td class="td1"><input type="checkbox"></td>
            <td class="td2">ming</td>
            <td class="td3">김민경</th>
            <td class="td4">ming</th>
            <td class="td5">서울시 종로구 어쩌구 저쩌구</td>
            <td class="td6">01012345678</td>
            <td class="td7">Y</td>
         </tr>
         
        <tr>
            <td class="td1"><input type="checkbox"></td>
            <td class="td2">ming</td>
            <td class="td3">김민경</th>
            <td class="td4">ming</th>
            <td class="td5">서울시 종로구 어쩌구 저쩌구</td>
            <td class="td6">01012345678</td>
            <td class="td7">Y</td>
         </tr>
         
         <tr>
            <td class="td1"><input type="checkbox"></td>
            <td class="td2">ming</td>
            <td class="td3">김민경</th>
            <td class="td4">ming</th>
            <td class="td5">서울시 종로구 어쩌구 저쩌구</td>
            <td class="td6">01012345678</td>
            <td class="td7">Y</td>
         </tr>
         
         <tr>
            <td class="td1"><input type="checkbox"></td>
            <td class="td2">ming</td>
            <td class="td3">김민경</th>
            <td class="td4">ming</th>
            <td class="td5">서울시 종로구 어쩌구 저쩌구</td>
            <td class="td6">01012345678</td>
            <td class="td7">Y</td>
         </tr>
         
         <tr>
            <td class="td1"><input type="checkbox"></td>
            <td class="td2">ming</td>
            <td class="td3">김민경</th>
            <td class="td4">ming</th>
            <td class="td5">서울시 종로구 어쩌구 저쩌구</td>
            <td class="td6">01012345678</td>
            <td class="td7">Y</td>
         </tr>
         
         <tr>
            <td class="td1"><input type="checkbox"></td>
            <td class="td2">ming</td>
            <td class="td3">김민경</th>
            <td class="td4">ming</th>
            <td class="td5">서울시 종로구 어쩌구 저쩌구</td>
            <td class="td6">01012345678</td>
            <td class="td7">Y</td>
         </tr>
         
         <tr>
            <td class="td1"><input type="checkbox"></td>
            <td class="td2">ming</td>
            <td class="td3">김민경</th>
            <td class="td4">ming</th>
            <td class="td5">서울시 종로구 어쩌구 저쩌구</td>
            <td class="td6">01012345678</td>
            <td class="td7">Y</td>
         </tr>
         
         <tr>
            <td class="td1"><input type="checkbox"></td>
            <td class="td2">ming</td>
            <td class="td3">김민경</th>
            <td class="td4">ming</th>
            <td class="td5">서울시 종로구 어쩌구 저쩌구</td>
            <td class="td6">01012345678</td>
            <td class="td7">Y</td>
         </tr>
         
         <tr>
            <td class="td1"><input type="checkbox"></td>
            <td class="td2">ming</td>
            <td class="td3">김민경</th>
            <td class="td4">ming</th>
            <td class="td5">서울시 종로구 어쩌구 저쩌구</td>
            <td class="td6">01012345678</td>
            <td class="td7">Y</td>
         </tr>
         
         <tr>
            <td class="td1"><input type="checkbox"></td>
            <td class="td2">ming</td>
            <td class="td3">김민경</th>
            <td class="td4">ming</th>
            <td class="td5">서울시 종로구 어쩌구 저쩌구</td>
            <td class="td6">01012345678</td>
            <td class="td7">Y</td>
         </tr>
         
         
      </table>
      
      <nav class="nav2" aria-label="Page navigation example" style="float: right;">
          <ul class="pagination">
             <li class="page-item">
               <a class="page-link" href="#" aria-label="Previous">
                 <span aria-hidden="true">&laquo;</span>
               </a>
             </li>
             <li class="page-item"><a class="page-link" href="#">1</a></li>
             <li class="page-item"><a class="page-link" href="#">2</a></li>
             <li class="page-item"><a class="page-link" href="#">3</a></li>
             <li class="page-item"><a class="page-link" href="#">4</a></li>
             <li class="page-item"><a class="page-link" href="#">5</a></li>
             <li class="page-item">
             <a class="page-link" href="#" aria-label="Next">
                 <span aria-hidden="true">&raquo;</span>
             </a>
             </li>
          </ul>
      </nav>
   </div>
	
	<div class="modal">
		<div class="modal_body">
			<p class="modal_title">회원정보</p>
			<img src="/image/ming/icons8-프로필-사진-96.png" style="width: 80px; position: relative; left: 170px;"></img>
			<p>ID : ming</p>
			<p>NAME : 김민경</p>
			<p>NICKNAME : ming</p>
			<p>EMAIL : ming@naver.com</p>
			<p>생일</p>
			<p>PHONE</p>
			<p>ADDRESS</p>
			<p>가입일</p>
		 </div>
	</div>
   <script>
      //체크박스 전체 선택/해제
        function toggleAllCheckboxes(tableId, selectId) {
         const checkboxes = document.querySelectorAll(`#${tableId} input[type="checkbox"]:not(#${selectId})`);
         const selectAll = document.getElementById(selectId);
         const allChecked = selectAll.checked;
   
         checkboxes.forEach(checkbox => {
             checkbox.checked = allChecked;
         });
     }
      
      
      //드롭다운 변경
      function showSearch(searchId, dropdownText) {
            document.querySelectorAll('.search').forEach(function(searchElement) {
                searchElement.style.display = 'none';
            });
            document.getElementById(searchId).style.display = 'block';
            document.getElementById('dropdownMenuButton').innerText = dropdownText;
        };
        
        
        //모달창 열기
          const body = document.querySelector('body');
	      const modal = document.querySelector('.modal');
	      const tds = document.getElementsByTagName('td');
		
	      console.log(tds.length);
	      for(let i = 0; i <tds.length; i++ ){
	    	  const indet = i % 7;
	    	  if(indet != 0){
			      tds[i].addEventListener('dblclick', () => {
			        modal.classList.toggle('show');
			
			        if (modal.classList.contains('show')) {
			          body.style.overflow = 'hidden';
			        }
			        
			      })
	    	  }
			
	      };
	      
	       // 모달창 외부를 클릭했을때 창 닫기
	      modal.addEventListener('click', (event) => {
	        if (event.target === modal) {
	          modal.classList.toggle('show');
	
	          if (!modal.classList.contains('show')) {
	            body.style.overflow = 'auto';
	          }
	        }
	     })
    </script>
</body>

</html>