<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.zangzac.seongun.model.dao.CampBoardDAO">
	<select id="getListCount" resultType="_int">
		select count(*)
		from camp_board
		<where>
			cb_status = 'N'
	        <if test="i != 0">
	            and category_no = #{i}
	        </if>
        </where>
	</select>
	
	<select id="selectBoardList">
		select * 	
		from camp_board
			join member using (member_id)
		<where> 
			cb_status = 'N'
			<if test="i != 0">
	            and category_no = #{i}
	        </if> 
        </where>
		order by cb_no desc
	</select>
</mapper>