<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.zangzac.seongun.recipe.model.dao.RecipeDAO">
	<select id="getListCount">
		select count(*)
		from recipe
		where recipe_status = 'N'
	</select>
	
	<select id="recipeList">
		select *
		from recipe
		where recipe_status = 'N'
	</select>
	
	<insert id="insertRecipe">
		<selectKey order="BEFORE" resultType="_int" keyProperty="recipeNo">
			select RECIPE_NO_SEQ.nextval from dual  
		</selectKey>
		insert into recipe
		values(#{recipeNo},#{recipeName},#{recipeTaste},#{recipeIngredients},#{recipeContent},default,default,default,#{cookingUtensils})
	</insert>
</mapper>