<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="css/sohwa/(admin)productUpdate.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{common/admin :: admin}"></div>
	
	<br><br><br><br>
	<div id="enrollProduct">
		<h1>상품 수정</h1>
		<hr style="border:1px solid black;">
		<br>
		<form>
			<h3>▸▸상품 대표 사진 (최대 4개): </h3>
				<div class="thumbnails" th:each="l:${list}">
			        <div th:if="${l.photoLevel==0}" style="display:inline-block;"><img th:src="${l.photoPath}" alt="Thumbnail 1" class="thumbnail">&nbsp;<br><button type="button" class="btn btn-outline-dark btn-sm deleteAttm" th:id="|delete-${ l.photoRename }/${l.photoLevel}|">삭제 OFF</button></div>
			        <div th:if="${l.photoLevel==1}" style="display:inline-block;"><img th:src="${l.photoPath}" alt="Thumbnail 1" class="thumbnail" onmouseover="changeImage(this)">&nbsp;<button type="button" class="btn btn-outline-dark btn-sm deleteAttm" th:id="|delete-${ l.photoRename }/${l.photoLevel}|">삭제 OFF</button></div>
			    </div>
			
				<div id="resultDiv1" class="resultDiv">
					<div style="display: inline-block;width:250px;height:200px;">
						1.<input type="file" class="corePhoto" onchange="previewImage(event, 'preview1')" name="coreFile"><br>
						<img id="preview1" src="image/sohwa/icons8-camera-80.png">
						<button style="margin-left:65px;">취소</button>
					</div>
				</div>
				
				<div id="resultDiv2" class="resultDiv">
					<div style="display: inline-block;width:250px;height:200px;">
						2.<input type="file" class="corePhoto" onchange="previewImage(event, 'preview2')" name="coreFile"><br>
						<img id="preview2" src="image/sohwa/icons8-camera-80.png">
						<button style="margin-left:65px;">취소</button>
					</div>
				</div>
				
				<div id="resultDiv3" class="resultDiv">
					<div style="display: inline-block;width:250px;height:200px;">
						3.<input type="file" class="corePhoto" onchange="previewImage(event, 'preview3')" name="coreFile"><br>
						<img id="preview3" src="image/sohwa/icons8-camera-80.png">
						<button style="margin-left:65px;">취소</button>
					</div>
				</div>
				
				<div id="resultDiv4" class="resultDiv">
					<div style="display: inline-block;width:250px;height:200px;">
						4.<input type="file" class="corePhoto" onchange="previewImage(event, 'preview4')" name="coreFile"><br>
						<img id="preview4" src="image/sohwa/icons8-camera-80.png">
						<button style="margin-left:65px;">취소</button>
					</div>
				</div>
			
			
			<br><br><br><br>
			
			<label for="productCompany" style="font-size: 20px;">▸▸상품 업체 : </label>
			<input type="text" name="productCompany" id="productCompany" th:value="${p.productCompany}">
			
			
			<br><br><br>
			
			<label for="productName" style="font-size: 20px;">▸▸상품명 : </label>
			<input type="text" name="productName" id="productName" th:value="${p.productName}">
			
			<br><br><br>
			
	         <label for="productCategory" style="font-size: 20px;">▸▸카테고리:</label>
	         <select id="productCategory" name="productCategory" required>
	             <option th:selected="${p.categoryNo == 11}" value="tent">텐트</option>
	             <option th:selected="${p.categoryNo == 12}" value="bed">취침용품</option>
	             <option th:selected="${p.categoryNo == 13}" value="cook">조리도구</option>
	             <option th:selected="${p.categoryNo == 14}" value="fire">발화용품</option>
	             <option th:selected="${p.categoryNo == 15}" value="bag">백팩</option>
	             <option th:selected="${p.categoryNo == 16}" value="others">기타용품</option>
	           <!-- 카테고리 옵션 추가 -->
	         </select>
		
		    <br><br><br>
		  
		    <label for="productPrice" style="font-size: 20px;">▸▸상품가격 : </label>
		    <input type="number" name="productPrice" id="productPrice" th:value="${p.productPrice}"> 원
		  
		    <br><br><br>
		  
		    <label for="productEno" style="font-size: 20px;">▸▸상품수량 : </label>
		    <input type="number" name="productEno" id="productEno" th:value="${p.eno}"> 개
		  
		  
		  <br><br><br>
		  
		  
		    <h3>▸▸상품 상세 사진 (최대 4개): </h3>
			<div id="detailDiv1" class="detailDiv">
				<div style="display: inline-block;width:250px;height:200px;">
					1.<input type="file" class="detailPhoto" onchange="previewImage(event, 'detail1')"><br>
					<img id="detail1" src="image/sohwa/icons8-camera-80.png">
					<button style="margin-left:65px;">취소</button>
				</div>
			</div>
			
			<div id="detailDiv2" class="detailDiv">
				<div style="display: inline-block;width:250px;height:200px;">
					2.<input type="file" class="detailPhoto" onchange="previewImage(event, 'detail2')"><br>
					<img id="detail2" src="image/sohwa/icons8-camera-80.png">
					<button style="margin-left:65px;">취소</button>
				</div>
			</div>
			
			<div id="detailDiv3" class="detailDiv">
				<div style="display: inline-block;width:250px;height:200px;">
					3.<input type="file" class="detailPhoto" onchange="previewImage(event, 'detail3')"><br>
					<img id="detail3" src="image/sohwa/icons8-camera-80.png">
					<button style="margin-left:65px;">취소</button>
				</div>
			</div>
			
			<div id="detailDiv4" class="detailDiv">
				<div style="display: inline-block;width:250px;height:200px;">
					4.<input type="file" class="detailPhoto" onchange="previewImage(event, 'detail4')"><br>
					<img id="detail4" src="image/sohwa/icons8-camera-80.png">
					<button style="margin-left:65px;">취소</button>
				</div>
			</div>
		  	
		  	
		  	
		  	<br><br><br><br><hr style="border:1px solid black;"><br><br>
		  	
		  	
		  	<button id="preBtn">이전으로</button>
			<button id="enrollBtn">수정하기</button>
			
		</form>
	</div>
	
	
	
	
	
	<br><br><br><br><!--footer--><br><br><br><br>
	
	
	
	
	
	
	
	
	<script th:inline="javascript">
	
		//미리보기
// 		function previewImage(event, previewId) {
// 	      const input = event.target;
// 	      const preview = document.getElementById(previewId);
// 	      const file = input.files[0];
// 	      const reader = new FileReader();
	
// 	      reader.onload = function(e) {
// 	        preview.src = e.target.result;
// 	      };
	
// 	      reader.readAsDataURL(file);
// 	    }
	    
	    
		// 미리보기
		function previewImage(event, previewId) {
        const input = event.target;
        const preview = document.getElementById(previewId);
        const file = input.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            preview.src = e.target.result;
        };

        reader.readAsDataURL(file);
    } 
	    
	    
	    
	    
	    
	      // 취소 버튼 클릭 시 해당 파일 인풋(input) 리셋
		  function resetFileInput(button) {
		    const parentDiv = button.parentNode; // 클릭된 버튼이 속한 div
		    const fileInput = parentDiv.querySelector('input[type="file"]');
		    const preview = parentDiv.querySelector('img');
		
		    if (fileInput && preview) {
		      fileInput.value = ''; // 파일 입력(input) 초기화
		      preview.src = 'image/sohwa/icons8-camera-80.png'; // 미리보기 이미지 초기화
		    }
		  }
		
		  // 각 취소 버튼에 이벤트 핸들러 추가
		  const resultDivButtons = document.querySelectorAll('.resultDiv button');
		  const detailDivButtons = document.querySelectorAll('.detailDiv button');
		
		  resultDivButtons.forEach(function(button) {
		    button.addEventListener('click', function(event) {
		      event.preventDefault(); // 기본 이벤트 동작 방지
		      resetFileInput(this);
		    });
		  });
		
		  detailDivButtons.forEach(function(button) {
		    button.addEventListener('click', function(event) {
		      event.preventDefault(); // 기본 이벤트 동작 방지
		      resetFileInput(this);
		    });
		  });
		  
		  
		  
		  
		  
		    
	
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  //삭제 on/off
		  window.onload=()=>{
			const fileArea = document.querySelector('#fileArea');
			document.getElementById('addFile').addEventListener('click', function () {
				const newDiv = document.createElement('div');
				newDiv.classList.add('mb-3');
				newDiv.innerHTML = '<input type="file" class="form-control form-control-lg" name="file">';
				
				fileArea.append(newDiv);
			})
			
			const form = document.getElementById('attmForm');
			document.getElementById('submitAttm').addEventListener('click', ()=>{
				
				const files = document.getElementsByName('file');
				let isEmpty = true;
				
				//첨부파일 비어져있는지 확인
				for(const f of files){
					if(f.value != ''){
						isEmpty = false;
					}
				}
				
				//모두 다 삭제하겠다.
				let isAllRemove = true;
				for(const btn of delBtns){
					//파일 중에 하나라도 삭제 off라면 
					if(btn.innerText == '삭제 OFF'){
						isAllRemove = false;
					}
				}
				
				//추가할 파일도 없고, 모두 다 삭제할 것이라면 일반게시판으로 옮기겠다.
				if(isEmpty && isAllRemove){
					$('#modalChoice').modal('show');
				}else{
					form.submit();
				}
				
			});
			
			
			
			//일반게시글로 옮겨진다는 모달에 네를 눌렀을 때도 제출되도록 함.
			document.getElementById('moveBoard').addEventListener('click', ()=>{
				form.submit();
			})
			
			
			const delBtns = document.getElementsByClassName('deleteAttm');
			for(const btn of delBtns){
				//이렇게 for문으로 delete영역 돌려버리면 id = 'delete' 가 더이상 유일해지지 않는다.
				//따라서 위에 올라가서 id부분 변경해준다. renameName, attmLevel이용해서 구분 가능하도록.
				btn.addEventListener('click', function(){
					const nextHidden = this.nextElementSibling;
					if(this.innerText =='삭제 OFF'){
						this.style.background='black';
						this.style.color='white';
						this.innerText='삭제 ON';
						nextHidden.value=this.id.split('-')[1]; //delete- 뒤에있는 renameName 가져오겠다는 뜻
					}else{
						this.style.background='none';
						this.style.color='black';
						this.innerText='삭제 OFF';
						nextHidden.value="none";
					}
				});
			}
			
			
			
			
		}


  
	</script>
</body>
</html>