<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="css/sohwa/(admin)qnaList.css" rel="stylesheet">
</head>
<body>


	<div th:replace="~{common/admin :: admin}"></div>
	<br><br><br><br>
	<div id="qnaListWrapped">
		<h1>문의 목록</h1>
		<p style="color:gray;">-답변을 하면 자동으로 문의목록에서 사라집니다.</p>
		<!-- 문의내역-->
			<div id="qnaDiv">
				
				<div style="float:right;">
					<div class="dropdown">
		                <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		                    상품이름 검색
		                </button>
		                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		                    <li><a class="dropdown-item" href="#" onclick="showSearch('search1', '주문번호 검색')">상품이름 검색</a></li>
		                    <li><a class="dropdown-item" href="#" onclick="showSearch('search2', '주문자 성함 검색')">주문자 성함 검색</a></li>
		                    <li><a class="dropdown-item" href="#" onclick="showSearch('search3', '상품번호 검색')">상품번호 검색</a></li>
		                </ul>
		            </div>
					
					<div class="search" id="search1">
						<input type="text" placeholder="상품이름 입력">
			  			<a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
					</div>
					<div class="search" id="search2" style="display: none;">
						<input type="text" placeholder="주문자 성함 입력">
			  			<a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
					</div>
					<div class="search" id="search3" style="display: none;">
						<input type="text" placeholder="상품번호 입력">
			  			<a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></a>
					</div>
				</div>
				
				
				
				<!--반복-->
				<div th:each="q:${qList}" class="cart-row">
		            <table>
		                <tr>
		                    <td class="td1">
		                        <img th:each="a:${aList}" th:if="${a.boardNo eq q.productNo && a.photoLevel==0}" th:src="${a.photoPath}">
		                        <div th:each="p:${pList}" th:if="${p.productNo eq q.productNo}">
		                            <div>[[${p.productCompany}]]</div>
		                            [[${p.productName}]]<br>
		                            [[|${#numbers.formatDecimal(p.productPrice, 0, 'COMMA', 0, 'POINT')}원|]]
		                        </div>
		                    </td>
		                    <td class="line"></td>
		                    <td class="td4" style="width:500px;">
		                        <div style="margin-left:30px; display:flex; align-items: center;">
		                            <img src="image/sohwa/icons8-q-64.png">
		                            [[${q.questionContent}]]
		                        </div>
		                    </td>
		                    <td><button class="btn-hover color-2 openModalButton">답변</button></td>
		                </tr>
		            </table>
            		<br><br>
					<!-- 모달 영역 -->
					<div class="modal qnaModal" style="display:none; width:640px; height:820px; overflow:hidden;">
						<div style="width:600px; height:780px; margin:20px; border:1px solid gray; border-bottom:1px solid gray;">
		                    <span class="close">&times;</span>
		                    <div class="bg-gray-50">
		                        <div class="max-w-2xl mx-auto p-6">
		                            <h1 class="text-2xl font-bold mb-4" style="margin-left:15px;">문의 등록</h1>
		                            <div class="bg-white shadow-md rounded-lg overflow-hidden mb-4">
		                                <div class="p-4 flex" style="display:inline-flex; justify-content: center; align-content: center;">
		                                    <img th:each="a:${aList}" th:if="${q.productNo == a.boardNo && a.photoLevel==0}" th:src="${a.photoPath}" class="w-20 h-20 object-cover rounded-full" alt="Product">
		                                    <div class="ml-4" th:each="p:${pList}" th:if="${p.productNo eq q.productNo}" style="margin-left:20px; display:inline-block;">
		                                        <p class="text-sm text-gray-600">[[${p.productName}]]</p>
		                                        <p>[[|${#numbers.formatDecimal(p.productPrice, 0, 'COMMA', 0, 'POINT')}원|]]</p>
		                                        문의 : <span style="color:gray;">[[${q.questionContent}]]</span>
		                                    </div>
		                                </div>
										<hr>
		                                <div class="border-t border-gray-200" th:each="p:${pList}" th:if="${p.productNo eq q.productNo}">
		                                	<form action="insertAnswer.so" method="POST">
			                                    <div class="p-4">
			                                        <div class="mb-4">
			                                        	<input type="hidden" th:value="${q.questionNo}" name="questionNo">
			                                            <label for="review" class="text-sm font-semibold">답변을 작성해주세요.</label><br>
			                                            <textarea name="answerContent" rows="3" class="mt-1 p-2 w-full border rounded-md" style="height:250px; width:550px; resize: none;"></textarea>
			                                        </div>
			                                        <button class="enrollQna" style="float:right; margin-bottom:30px;">
			                                            문의등록
			                                        </button>
			                                    </div>
		                                    </form>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                 </div>
		            </div>
					
				</div>
				
				
				<!--반복-->
<!-- 				<table> -->
<!-- 					<tr class="cart-row"> -->
<!-- 	                    <td class="td1"> -->
<!-- 							<img src="image/sohwa/tent1core1.png"> -->
<!-- 							<div> -->
<!-- 								<div>모비가든</div> -->
<!-- 								캠스존 오르딘 글램핑 리빙쉘 대형 거실형텐트 5-6인용<br> -->
<!-- 								410,000원 -->
<!-- 							</div> -->
<!-- 	                    </td> -->
<!-- 	                    <td class="line"></td> -->
<!-- 	                    <td class="td4"> -->
<!-- 							<div style="margin-left:30px; display:flex; align-items: center;"> -->
<!-- 								<img src="image/sohwa/icons8-q-64.png"> -->
<!-- 								택배박스에 구매상세 내역이 적혀있나요? 숨겨져서 왔으면 좋겠습니다. -->
<!-- 							</div> -->
<!-- 						</td> -->
<!-- 						<td><button class="btn-hover color-2 openModalButton">댭변</button></td> -->
<!-- 	                </tr> -->
<!-- 				</table> -->
<!-- 				<br><br> -->
				
				
				
				
				
				
			</div>
			
			
			
			
			
			
			
			<nav aria-label="Page navigation example" id="nav">
			    <ul class="pagination">
			       <li class="page-item">
			         <a class="page-link" href="#" aria-label="Previous">
			           <span aria-hidden="true">&laquo;</span>
			         </a>
			       </li>
			       <li class="page-item"><a class="page-link" href="#">1</a></li>
			       <li class="page-item"><a class="page-link" href="#">2</a></li>
			       <li class="page-item"><a class="page-link" href="#">3</a></li>
			       <li class="page-item"><a class="page-link" href="#">4</a></li>
			       <li class="page-item"><a class="page-link" href="#">5</a></li>
			       <li class="page-item">
			       <a class="page-link" href="#" aria-label="Next">
			           <span aria-hidden="true">&raquo;</span>
			       </a>
			       </li>
			    </ul>
			</nav>
		
	</div>
	
	
	
	



	<br><br><br><br><!--footer--><br><br><br><br>
	
	
	
	
	
	
	<script th:inline="javascript">
	
	
	
		
		document.addEventListener('DOMContentLoaded', function () {
	        document.querySelector('#qnaDiv').addEventListener('click', function (event) {
	            if (event.target.classList.contains('openModalButton')) {
	                const modal = event.target.closest('.cart-row').querySelector('.qnaModal');
	                if (modal) {
	                    modal.style.display = 'block';
	                }
	            }
	        });
	
	        document.querySelectorAll('.close').forEach(closeButton => {
	            closeButton.addEventListener('click', function () {
	                const modal = this.closest('.modal');
	                if (modal) {
	                    modal.style.display = 'none';
	                }
	            });
	        });
	    });
		
		
	    
	    
	    
	    //드롭다운 변경
		function showSearch(searchId, dropdownText) {
            document.querySelectorAll('.search').forEach(function(searchElement) {
                searchElement.style.display = 'none';
            });
            document.getElementById(searchId).style.display = 'block';
            document.getElementById('dropdownMenuButton').innerText = dropdownText;
        }
	
	</script>

</body>
</html>