<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.zangzac.yoonseo.camp.model.dao.CampDAO">
   <insert id="insertCamp">
      <selectKey order="BEFORE" resultType="_int" keyProperty="cgNo">
        select cg_seq.nextval from dual
      </selectKey>
      insert into camping_ground
      values(#{cgNo},#{cgName}, #{cgRegion},#{cgAddress},#{cgPhone},#{cgType},
            default, sysdate, #{cgArea}, #{cgSeason},#{cgManageDate},
            #{cgBooking}, #{cgPage},#{cgStarPoint},#{cgAmenity},#{cgInfo},
            #{cgRecomendation},default,5,#{cgImgInfo})
   
   </insert>

   <insert id="insertCampImg">
     insert all
     <foreach collection="list" item="item">
       into photo
       values (new_aid, #{item.photoRename},
               #{item.photoPath}, #{item.photoLevel}, 3, #{item.boardNo},
               default)
     
     </foreach>
      select * from dual
   </insert>
   
   <insert id="insertInfoImg">
     insert all
     <foreach collection="list" item="item">
       into photo 
       values (new_aid, #{item.photoRename},
               #{item.photoPath}, #{item.photoLevel}, 3, #{item.boardNo},
               default)
     </foreach>
      select * from dual
   </insert>
   
   <select id="getListCount" resultType="_int">
     select count(*)
     from camping_ground
     where cg_status = 'N' 
   </select>
   
   <select id="selectCampList" resultType="CampingGround">
     select *
     from camping_ground
     where cg_status = 'N' 
     order by cg_no desc
   </select>
   
   <select id="selectMapList" resultType="CampingGround">
     select *
     from camping_ground
     where cg_status = 'N'
   </select>
   
   <select id="selectCampingDetail" resultType="CampingGround">
     select *
     from camping_ground
     where cg_status = 'N' and cg_no = #{no}
   </select>
   
   <select id="selectPhoto" resultType="Photo">
     select *
     from photo
     where photo_status = 'N' 
            and board_no = #{no} and board_type = 3 and photo_level = 1
     order by photo_no
   </select>
   
   <select id="selectInfoPhoto" resultType="Photo">
      select *
     from photo
     where photo_status = 'N' 
            and board_no = #{no} and board_type = 3 and photo_level = 2
     order by photo_no
   </select>
   
   <select id="getRecomendationCount" resultType="_int">
     select count(*)
     from camping_ground
     where cg_status = 'N'and cg_recomendation = #{recomendation}
   </select>
   
   <select id="selectRecomendationList" resultType="CampingGround">
     select *
     from camping_ground
     where cg_status = 'N' and cg_recomendation = #{recomendation}
   </select>
   
   <select id="selectOnePhoto" resultType="Photo">
     select *
     from photo
     where photo_status = 'N' and photo_level = #{i} and board_type=3
     order by photo_no
   </select>
   
   <select id="getAllCount" resultType="_int">
     select *
     from camping_ground
   </select>
   
   <select id="selectAllList" resultType="CampingGround">
     select *
     from camping_ground
   </select>

</mapper>