<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.zangzac.jaeyoung.campingReview.model.dao.CampingReviewDAO">
	
	
	<insert id="insertCampingReview">
		<selectKey order="BEFORE" resultType="_int" keyProperty="crNo">
         	select CR_SEQ.nextval 
         	from dual
     	 </selectKey>
		insert into camping_reviews
		values (#{crNo}, #{crTitle}, #{crContent}, default, default,default,default,#{memberId}, #{categoryNo}, #{crStar}) 
	</insert>
	


</mapper>