<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/ming/member/review.css" rel="stylesheet">
</head>
<body>
<div class="logo">
		<img src="../image/ming/member/logo.png" alt="logo">
	</div>
	<aside class="sidebar">
		<div class="user">
			<img src="../image/ming/member/icons8-프로필-사진-96.png" style="width: 80px;"></img><br><br>
			<p style="font-weight: bold; font-size: 1.5em;">홍길동</p><br><br>
		</div>
		<ul class="links">
			<hr>
				<li>
					<img src="../image/ming/member/프로필수정.png" style="width: 60px;"></img>
					<a href="myPage.me">정보 수정</a>
				</li>
				<li>
					<img src="../image/ming/member/icons8-비밀번호-50.png" style="width: 60px;"></img>
					<a href="updatePwd.me">비밀번호 수정</a>
				</li>
				<li>
					<img src="../image/ming/member/리뷰.png" style="width: 60px;"></img>
					<a href="#">리뷰</a>
				</li>
				<li>
					<img src="../image/ming/member/택배.png" style="width: 60px;"></img>
					<a href="#">배송</a>
				</li>
			<hr>
				<li>
					<img src="../image/ming/member/icons8-쇼핑몰-50.png" style="width: 60px;"></img>
					<a href="#">쇼핑몰 이동</a>
				</li>
				<li>
					<img src="../image/ming/member/리뷰.png" style="width: 60px;"></img>
					<a href="#">커뮤니티 이동</a>
				</li>
				<li>
					<img src="../image/ming/member/logout.png" style="width: 60px;"></img>
					<a href="#">로그아웃</a>
				</li>
		</ul>
	</aside>
	<div class="my-reviews-container">
	  <h1>작성한 리뷰</h1>
		  <div class="review-list">
		    <!-- 각 리뷰 아이템 -->
		    <div class="review-item">
		      <img src="../image/ming/member/icons8-사진-96.png" alt="리뷰 상품 이미지" class="review-product-image" style="position: relative; left: 20px;">
		    <div class="review-item_detail">
				<span class="store">업체 이름</span><br>
				<span class="product">가나다라마바사 아자차카타파아</span>
			</div>
		      <div class="review-content">
				 <div class="score" style="margin-left: 80%;">  
				    <div class="foreground" style="float: left;">
				        <span class="background" style="width:96%;"></span><!-- 4.8 x 100 / 5 = 96 퍼센트 계산 식.-->
				   </div>
				</div>
		          <span class="review-date">2023-12-26</span><br><br><br>
		        <div class="review-text">리뷰 내용이 여기에 표시됩니다.</div>
		        <div class="review-details">
		          <a href="#" class="edit-review">편집</a>
		          <a href="#" class="delete-review">삭제</a>
		        </div>
		      </div>
		    </div>
		    <!-- 추가 리뷰 아이템들... -->
		  </div>
	</div>

</body>
</html>