
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/ming/member/review.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="logo">
		<a href="/"><img src="../image/ming/member/logo.png" alt="logo"></a>
	</div>
	<aside class="sidebar">
		<div class="user">
			<img th:src="${loginUser.memberProfilePath}" style="width: 80px; height:80px; border-radius: 50%"></img><br><br>
			<p style="font-weight: bold; font-size: 1.5em;" th:text="${loginUser.memberName}"></p><br><br>
		</div>
		<ul class="links">
			<li>
				<img src="../image/ming/member/프로필수정.png" style="width: 60px;"></img>
				<a href="myPage.me">정보 수정</a>
			</li>
			<li th:if="${session.loginUser.memberLoginType == 1}">
				<img src="../image/ming/member/icons8-비밀번호-50.png" style="width: 60px;"></img>
				<a href="updatePwd.me">비밀번호 수정</a>
			</li>
		<hr>
			<li>
				<img src="../image/ming/member/icons8-edit-64.png" style="width: 60px;"></img>
				<a href="myBoardList.me">내가 쓴 게시글</a>
			</li>
			<li>
				<img src="../image/ming/member/리뷰.png" style="width: 60px;"></img>
				<a href="review.me">리뷰</a>
			</li>
		<hr>
			<li>
				<img src="../image/ming/member/icons8-쇼핑몰-50.png" style="width: 60px;"></img>
				<a href="productListView.so">쇼핑몰 이동</a>
			</li>
			<li>
				<img src="../image/ming/member/icons8-게시판-50.png" style="width: 60px;"></img>
				<a href="campBoard.su">커뮤니티 이동</a>
			</li>
			<li>
				<img src="../image/ming/member/logout.png" style="width: 60px;"></img>
				<a href="logout.me">로그아웃</a>
			</li>
			<li id="deleteMemberBtn">
				<img src="../image/ming/member/icons8-취소-100 (1).png" style="width: 60px;"></img>
				<a id="deleteMember" style="color: red;">회원탈퇴</a>
			</li>
		</ul>
	</aside>
		<div id="myModal" class="modal">
	       <!-- 모달 내용 -->
	       <div class="modal-content">
	           	<h4 id="modalContent"></h4>
	           	<span id="modalResult"></span>
	       </div>
    	</div>
    	<!--------------------------------------------------------마이페이지 시작--------------------------------------------------------------------->
			<div class="my-reviews-container">
			    <p class="reviewTitle">[[${loginUser.memberName}]]님의 작성한 리뷰<p>
				    <div class="reviewPage">
				        <table class="reviews-table">
						    <tbody>
						        <tr th:each="r : ${rList}" class="review-item" name="reviewNo">
						            <td class="review-product-image-cell" >
						                <img th:each="ph : ${phList}" th:if="${ph.boardType == 6 and r.reviewNo == ph.boardNo}" th:src="${ph.photoPath}" alt="리뷰 상품 이미지">
						            </td>
						            <td class="review-details-cell"><!--사진의 리뷰넘버 보드에 보드넘버  -->
						                <div th:each="p : ${pList}" th:if="${r.productNo == p.productNo}">
						                    <span class="store" th:text="${p.productCompany}"></span><br>
						                    <span class="product" th:text="${p.productName}"></span>
						                </div>
						                <div class="review-content">
						                    <div class="score">  
						                        <div class="foreground">
						                            <span class="background" th:style="'width: ' + (${r.reviewScore} * 100 / 5) + '%;'"></span>
						                        </div>
						                    </div>
						                    <span class="review-date" th:text="${r.reviewModifyDate == null ? r.reviewUploadDate : r.reviewModifyDate}"></span><br>
						                    <div class="review-text" th:text="${r.reviewContent}">리뷰 내용</div>
						                    <div class="review-actions">
						                    <!-- <form th:action="updateReview.so" method="post">
						                        <input type="hidden" name="reviewNo" th:value="${r.reviewNo}" />
						                        <button type="submit" class="delete-review">수정</button>
					                    	</form>
					                       <form th:action="deleteReview.me" method="post">
						                        <input type="hidden" name="reviewNo" th:value="${r.reviewNo}" />
						                        <button type="submit" class="delete-review">삭제</button>
					                    	</form> -->
						                    </div>
						                </div>
						            </td>
						        </tr>
						    </tbody>
						</table>
				        <!-- Pagination here -->
					     <div class="board_bottom_area">
	         <div id="pagenation" th:with="loc=${loc}" th:if="${!rList.isEmpty}">
	            <ul>
	               <!-- 이전 버튼 -->
	               <li th:if="${pi.currentPage > 10}">
	                  <a th:href="@{${loc}(page=${pi.currentPage-10})}">&lt; 이전</a>
	               </li>
	                   <!-- 페이지 번호 -->
	                   <li th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
	                      <a th:href="@{${loc}(page=${p})}" th:id="${p == pi.currentPage} ? 'check_page'">
	                          [[${p}]] 
	                      </a>
	                   <th:block th:if="${keyword != null}">
	                      <a th:href="@{${loc}(page=${p})}" th:id="${p == pi.currentPage} ? 'check_page'">
	                         [[${p}]]
	                     </a>
	                   </th:block>
	               </li>
	                   <!-- 다음 버튼 -->
	                   <li th:if="${pi.maxPage >= 10 && pi.maxPage - pi.currentPage > 10}">
	                      <a th:href="@{${loc}(page=${pi.currentPage+10})}">다음 &gt;</a>
	                   </li>
	                 </ul>
	        	 </div>
	   		</div>
		</div>
 	 </div>
</body>
</html>