<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.zangzac.yoonahrim.spBoard.model.dao.secondHandDAO">
	<insert id="insertSecondHand">
		<!-- order : insert/update를 하기 전에 selectKey를 수행할 것인지, 후에 수행할 것인지 (before : insert하기전에 수행) -->
        <!-- keyProperty : 가져온 값을 필드에 대입하기 위해서 selectKey를 하는 것임. 어디에 집어넣을지를 적어놓어주는 곳 -->
		<selectKey order="BEFORE" resultType="_int" keyProperty="spNo">
         	select SP_SEQ.nextval 
         	from dual
     	 </selectKey>
		<!-- 이미 시퀀스로 하나 올려진 글번호를 prodcutNo필드에 대입을 했으므로 시퀀스 돌려주는게(product_seq.nextval) 아니라 productNo 넣어주면 된다. -->
		insert into SECONDHAND_PRODUCT
		values (#{spNo}, #{spTitle}, #{spPrice}, #{spContent}, #{spAddress}, default, default, 1, #{categoryNo}, default) 
	</insert>
	
	<update id="updateSecondHand">
		UPDATE SECONDHAND_PRODUCT
		SET SP_TITLE = #{spTitle}, SP_PRICE = #{spPrice}, SP_CONTENT = #{spContent}, SP_ADDRESS = #{spAddress}, CATEGORY_NO = #{categoryNo}
		where member_id = '3'
		<!-- member_id = #{memberId}로 후에 바꿔주기 -->
	</update>
	
	<insert id="insertAttmSecondHand">
		insert all<!-- insert all 안에서는 nextval이라고 적어놓고 여러번 들어간다하더라도 딱 1번 nextval이 되고 나머지는 같은 값이 들어간다 -->
		<foreach collection="list" item="item">
			into photo
			values (new_aid, #{item.photoRename}, #{item.photoPath}, #{item.photoLevel}, 4, #{item.boardNo}, default)
		</foreach>
		select * from dual
	</insert>
	
	<select id="selectMyList" resultType="secondHandProduct">
		select *
		from SECONDHAND_PRODUCT
		where MEMBER_ID = #{memberId}
	</select>
	
	<delete id="deleteAttmSecondHand">
		delete from photo
		where BOARD_NO = #{spNo} and BOARD_TYPE = '4'
	</delete>
	
	<select id="selectAttachmentList">
		select *
		from photo
		where BOARD_NO = #{spNo} and board_type = '4'
	</select>
	
	<insert id="insertReply">
		insert reply
		values (#{replyNo}, #{replyContent}, sysdate, sysdate, 4, #{boardNo}, default, 3)
	</insert>
	
	<select id="selectReply" resultType="Reply">
		select *
		from reply
		where BOARD_NO = #{spNo} and BOARD_TYPE = '4'
	</select>
</mapper>