<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>캠핑장 정보 등록</title>
<link rel="stylesheet" href="styles.css">
</head>
<style>
 body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin-top:100px;
    margin:0 auto;
    margin-top:100px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-group {
    margin-bottom: 20px;
}


</style>
<body>
<div th:replace="~{common/admin :: admin}"></div>

		<div class="container">
		    <h1>캠핑장 List</h1>
		
		    <form action="/submit-camping-info" method="post"> 
		       <table class="table table-hover">
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
               </table>
		    </form>
		</div>


</body>
</html>