<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<meta>
<title>캠핑장 정보 등록</title>


</head>
<body>
   <div th:replace="~{common/admin :: admin}"></div>
   
   <div style="margin-left: 15%; margin-top: 6%; ">
     <div style="border:1px solid black; width:1000px; height:100%; margin-bottom: 20%; ">
       <h1 style="text-align: center;">캠핑장 등록</h1>
       <br>
       <div class="form-group">
         <label for="campsiteName">캠핑장 지역:</label>
         <select name="city" id="" style=" margin-right: 10px; height:30px; ">
              <option value=>시/도 선택</option>
              <option value="general01">강원도</option>
              <option value="general02">경기도</option>
              <option value="general03">경상남도</option>
              <option value="general04">경상북도</option>
              <option value="general05">광주</option>
              <option value="general06">대구</option>
              <option value="general07">대전</option>
              <option value="general08">부산</option>
              <option value="general09">서울</option>
              <option value="general10">울산</option>
              <option value="general11">인천</option>
              <option value="general12">전라남도</option>
              <option value="general13">전라북도</option>
              <option value="general14">제주도</option>
              <option value="general15">충청남도</option>
              <option value="general16">충청북도</option>
           </select>
       </div><br>
       <div class="form-group">
            <label for="campsiteName">캠핑장 이름:</label>
            <input type="text" id="campsiteName" name="campsiteName" required>
        </div><br>
        <div class="form-group">
            <label for="rating">별점 :</label>
            <input type="number" step="0.1" min="0" max="5" required>
        </div><br>
        <div class="form-group" id="fileInputs">
		    <label for="facilities">캠핑장 이미지:</label>
		    <button type="button" id="addfile">추가버튼</button>
		    <div id="fileArea">
			      <div class="mb-3">
			        <input type="file" name="imageUpload[]" accept="image/*" style=" width:200px;">
			        <input type="text" style="width:200px;">
			      </div>
			</div>		
	    </div><br>
		<div style="width:750px; margin-left: 10px;">
		         <table class="table" >
				   <tr>
				     <td>주소</td>
				     <td><input text="text" style="width:500px;"></td>
				   </tr>
				   <tr>
				     <td>문의처</td>
				     <td><input text="text" style="width:500px;"></td>
				   </tr>
				   <tr>
				     <td>캠핑장 환경</td>
				     <td><input text="text" style="width:500px;"></td>
				   </tr>
				   <tr>
				     <td>캠핑장 유형</td>
				     <td><input text="text" style="width:500px;"></td>
				   </tr>
				   <tr>
				     <td>운영기간</td>
				     <td><input text="text" style="width:500px;"></td>
				   </tr>
				   <tr>
				     <td>운영일</td>
				     <td><input text="text" style="width:500px;"></td>
				   </tr>
				   <tr>
				     <td>홈페이지</td>
				     <td><input text="text" style="width:500px;"></td>
				   </tr>
				   <tr>
				     <td>예약방법</td>
				     <td><input text="text" style="width:500px;"></td>
				   </tr>
				   <tr>
				     <td>주변이용가능시설</td>
				     <td><input text="text" style="width:500px;"></td>
				   </tr>
				   <tr>
				     <td>네이버 별점</td>
				     <td><input text="number" style="width:500px;"></td>
				  </tr>
				  <tr>
				     <td>캠핑장 소개</td>
				     <td><textarea style="width:500px;height:200px;"></textarea></td>
				  </tr>     
			  </table>
			  
          </div>
          <div class="form-group" id="appendFile2">
			    <label>시설 아이콘:</label>
			    <button type="button" id="addfile2">추가버튼</button>
			    <div id="fileArea2">
			      <div class="mb-3">
			        <input type="file" name="imageUpload[]" accept="image/*" style=" width:200px;">
			        <input type="text" style="width:200px;">
			      </div>
			    </div>
		  </div><br>
	      <button type="submit">등록</button>
	      <button style="background-color: red; margin-left: 10px;">취소</button>
          
		  
     </div>
   </div>
   <script>
	window.onload = () => {
		const fileArea = document.querySelector('#fileArea');
		document.getElementById('addfile').addEventListener('click', ()=> {
			const newDiv = document.createElement('div');
			newDiv.classList.add('mb-3');
			newDiv.innerHTML = '<input type="file" name="imageUpload[]" accept="image/*" style=" width:200px;"><input type="text" style="width:200px;"><button type="button" class="deleteInput">삭제</button>';
			
			fileArea.append(newDiv);
			
			 // 삭제 버튼에 클릭 이벤트 추가
	        const deleteButton = newDiv.querySelector('.deleteInput');
	        deleteButton.addEventListener('click', () => {
	            newDiv.remove(); // 해당 div를 삭제
	        });
		});
		const fileArea2 = document.querySelector('#fileArea2');
		document.getElementById('addfile2').addEventListener('click', ()=> {
			const newDiv = document.createElement('div');
			newDiv.classList.add('mb-3');
			newDiv.innerHTML = '<input type="file" name="imageUpload[]" accept="image/*" style=" width:200px;"><input type="text" style="width:200px;"><button type="button" class="deleteInput" >삭제</button>';
			
			fileArea2.append(newDiv);
			
			 // 삭제 버튼에 클릭 이벤트 추가
	        const deleteButton = newDiv.querySelector('.deleteInput');
	        deleteButton.addEventListener('click', () => {
	            newDiv.remove(); // 해당 div를 삭제
	        });
		});
		
		
	}
	
  
</script>

</body>
</html>